<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="jquery/index.js" charset="utf-8"></script>
<script src="jquery/password-valid.js" charset="utf-8"></script>


</body>
<footer id="footer" class="white-section">
  <div class="container-fluid">

    <p>© Copyright Gen-Z</p>

  </div>
</footer>

</html>